<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Dynamic Shopping with provider</title>
</head>
<body>
    <h1>Dynamic Shopping List with Provider</h1>

    <!-- Preconfigured List  -->
    <div id="list" ng-controller="ShoppingListController as list">
        <h3>Shopping List</h3>
        <input type="text" ng-model="list.itemName" placeholder="Item Name">
        <input type="text" ng-model="list.itemQuantity" placeholder="Quantity">
        <button ng-click="list.addItem();">Add Item</button>
        
        <ol>
            <li ng-repeat="item in list.items">
                {{item.quantity}} of {{item.name}}
                <button ng-click="list.removeItem($index)">Remove Item</button>
            </li>
        </ol>
        <div class="error" ng-show="list.errorMessage">Error: {{list.errorMessage}}</div>
    </div>
</body>
</html>