<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Dynamic Shopping List</title>
</head>
<body>
    <h1>Dynamic Shopping List</h1>
    <div ng-controller="ShoppingListAddController as itemAdder">
        <input type="text" ng-model="itemAdder.itemName" placeholder="Item Name">
        <input type="text" ng-model="itemAdder.itemQuantity" placeholder="Quantity">
        <button ng-click="itemAdder.addItem()">Add Item to Shopping List</button>
    </div>
    
    <div ng-controller="ShoppingListShowController as showList">
        <ol>
            <li ng-repeat="item in showList.items">
                {{item.quantity}} of {{item.name}}
                <button ng-click="showList.removeItem()">Remove Item</button>
            </li>
        </ol>

    </div>
</body>
</html>